/* Navigation bar settings
-------------------------------------------------- */
.navbar-wrapper {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px;
}


/* RESPONSIVE CSS
 *     -------------------------------------------------- */

@media (max-width: 979px) {

     .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
}



.transbox
{
    margin:30px 50px;
    border-top-width: 200;
    background-color:#1a7ae5;
    padding: 25px;
    border:0px solid black;
    opacity:0.7;
    border-radius:20px;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.myfooter
{
    position: relative ;
    text-align: center;
}

#pagefooters {
    position: relative ;
    top: 1800px;
}

#screenblocks {
    position: relative ;
    top:  110px;
    left: 80px;
}

#biography {

    position: relative ;
    top:  110px;
    left: 80px;
}
