{% extends "base.html" %}

{% block site_wrapper %}
<div id="main">
	<a href="#content" class="skip_link"> Skip to main content </a>
	<div id="topbanner">
			Antonio Aranda Eggermont
	</div>
        <div id="topBannerProf">
		Software Developer - Digital Media Professional 
	</div>


</div>

        <div id="navmenua">
		<a href="index.html">Bio</a><br>
		<a href="cv/ANTONIOAEGGERMONT-Web.doc.pdf">resume</a><br>
		<a href="skills.html">skills</a><br>
		<a href="mywork.html">my work</a><br>
		<a href="references.html">references</a><br>
		<a href="contactInformation.html">contact</a><br>	
        </div>

{% endblock %}
		
