
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <head>
        <title> {{ head_title }} </title>
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <script src="/resources/demos/external/jquery.bgiframe-2.1.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

        <script src="/static/scripts/third_party/jquery/js/jquery-1.8.3.js"> </script>
        <script src="/static/scripts/third_party/jquery/js/jquery-ui-1.9.2.custom.js"> </script>
        <script src="/static/scripts/third_party/jquery/js/jquery-ui-1.9.2.custom.min.js"> </script>


        <link rel="stylesheet" href="/static/styles/jquery/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css">
        <link rel="stylesheet" href="/static/styles/jquery/ui-lightness/jquery-ui-1.9.2.custom.min.css" type="text/css">


        <link href="/static/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/styles/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/homepage.css" type="text/css">


        <script language="javascipt" type="text/javascript">

            $(document).ready(function() {
               console.log("Document ready!");

            });

            // Limiting the number of characters in big text box
            function limitText(limitField, limitCount, limitNum) {
                if (limitField.value.length > limitNum) {
                    limitField.value = limitField.value.substring(0, limitNum);
                    limitCount.innerHTML = " You have exceeded the character limit!"
                } else {
                    limitCount.innerHTML = limitNum - limitField.value.length + " characters left";
                    //console.log(document.getElementById("wordcount").innerHTML);
                }
            }


            function validateForm()
            {
                console.log("About to validate name!");
                var x=document.forms["contactInfo"]["name"].value;

                if (x==null || x=="")
                {
                    alert("First name must be filled out");
                    return false;
                }

                console.log("Finished validating name!");
                console.log("Validating Email!");

                var email = document.forms["contactInfo"]["email"].value;
                var atPosition = email.indexOf("@");
                var dotPosition = email.lastIndexOf("x");

                if ( atPosition < 1 || dorPosition <  atPosition +2 || dotPosition + 2 > email.length )
                {
                    alert ("Not a valid email address!");
                    return false;
                }

                console.log("Finished validating email address!");

            }

            function register() {

                alert("Form submitted!");
                return this;
            }

        </script>


    </head>

    <body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/styles/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/styles/bootstrap/js/bootstrapfixes.js"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        <div class="container navbar-wrapper">

            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">{{ page_name }}</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/biography/">About Me</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Work <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/projects?project=cbsinteractive">CBS Interactive</a></li>
                                    <li><a href="/projects?project=disney">Walt Disney Pictures</a></li>
                                    <li><a href="/projects?project=harvard">Harvard University</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Projects</li>
                                    <li><a href="/projects?project=garick">Digital Cinematography</a></li>
                                </ul>
                            </li>
                            <li><a href="/resume/">Resume</a></li>
                            <li><a href="/references/">References</a></li>
                            <li ><a href="/contact/">Contact</a></li>
                            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->
        <br><br>
        <br><br><br>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span1">

                </div>
                <div class="span2">
                    <img src="/static/images/AntonioSquare.jpg " alt="Hi!" />
                </div><!--/span-->
                <div class="span8">
                    <h2>About Me</h2>
                    <p>
                        Throughout my career, I have leveraged my deep exposure to online publishing, streaming media, web applications development, and back-end services integration in the entertainment industry.
                        <br><br>
                        Most recently at CBS Interactive, I have assisted in the integration of back-end web services and front-end applications in AWS computer environments; developed web applications for content management systems; implemented optimization solutions to improve web page loading; and automated processes for the acquisition and processing of high volume media assets for online publication from content TV partners.
                        <br><br>
                        During my time at the Walt Disney Studios and Sony Pictures Entertainment, I was involved with the development of media work flows, processes automation, and applications integration for the production of animated feature films employing motion capture technology in 3D. Produced feature films that I have worked on include Body of Lies, Valkyrie, A Christmas Carol and Mars needs Moms.
                        <br><br>
                        While in graduate school at Harvard, I was given the opportunity to work and develop innovative production environments for streaming media and web content delivery for on-line education. Being one of the first adopters of early streaming media technologies allowed me to team up with industry development teams to build effective web based frameworks for online publishing and media distribution.
                        <br><br>
                        I am always open to discussing new projects or speaking engagements so feel free to get in touch with me via email or phone. My contact details can be found here or you can just send me a message in this form:
                    </p>
                </div><!--/.fluid-container-->

            </div>

        </div>


        {% if  contact_info %}

            <div class="container-fluid" >
                <div class="row-fluid">
                    <div class="span4"> </div>
                    <div class="span8">
                        <h3> Thanks, your message has been sent! </h3>
                    </div>
                </div>

            </div>

        {% else %}

            <div class="container-fluid" >
                <div class="row-fluid">
                    <div class="span5"> </div>
                    <div class="span6">
                        <h3> Leave a Reply </h3>
                        <form name="contactInfo" method="POST" action="/addContactInfo/" onsubmit="return validateForm()"> {% csrf_token %}
                            <input name="name"  type="text" accept="" placeholder="Your name" maxlength="30" >    <br>
                            <input name="email" type="text" accept="" placeholder="Email address" maxlength="30"> <br>
                            <textarea placeholder = "Leave a message" name="message" onKeyDown="limitText(this.form.message, document.getElementById('wordcount') , 100);"
                                  onKeyUp="limitText(this.form.message, document.getElementById('wordcount'), 150);">
                            </textarea>
                            <div id="wordcount">Maximum 150 characters </div>
                            <button type="submit" class="btn">Submit </button>
                        </form>
                    </div>
                </div>
            </div>

       {% endif %}

        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span5">
                    <span class="badge badge-info">CONNECT</span>
                </div>
            </div>
            <br>
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span6">
                    <div id="socialmedia_buttons">
                        <a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"></a>
                        <a href="http://www.linkedin.com/profile/view?id=26540686&trk=hb_tab_pro_top"><img src="/static/images/linkedin.png" width="20" height="20" alt="linkedin" /></a>

                        <div class="fb-like" data-href="http://antonioeggermont.net" data-send="false" data-layout="button_count" data-width="550" data-show-faces="false" data-font="arial"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row-fluid">

            <div class="span4"> </div>
            <div class="span8">

                <footer>
                    <p>© Antonio A Eggermont, all rights reserved</p>
                </footer>
            </div>
        </div>




    </body>
</html>


