
<!DOCTYPE html>

<html lang="en">
    <head>
        <title> {{ head_title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="google-translate-customization" content="4ff57205f540339a-c75b2f2701e0e4b7-gc86939a09139749a-14"/>

        <link href="/static/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/static/styles/homepage.css" type="text/css">
        <link href="/static/styles/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="apple-touch-icon" href="custom_icon.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>

    <body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/styles/bootstrap/js/bootstrap.min.js"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



        <!-- NAVBAR ================================================== -->
        <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
        <div class="container navbar-wrapper">

            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">{{ page_name }}</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/biography/">About Me</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Work <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/projects?project=cbsinteractive">CBS Interactive</a></li>
                                    <li><a href="/projects?project=disney">Walt Disney Pictures</a></li>
                                    <li><a href="/projects?project=harvard">Harvard University</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Projects</li>
                                    <li><a href="/projects?project=garick">Digital Cinematography</a></li>
                                </ul>
                            </li>
                            <li><a href="/resume/">Resume</a></li>
                            <li><a href="/references/">References</a></li>
                            <li  class="active"><a href="/contact/">Contact</a></li>
                            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->


        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
                <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span4">
                                <address>
                                 <a class="adress" href="http://www.linkedin.com/pub/antonio-eggermont/8/a7b/23a"><img alt="LinkedIn" src="/static/images/linkedin.png" /> <strong>Antonio Aranda Eggermont</strong> </a>
                                <a href="mailto:antonio.eggermont@post.harvard.edu"> Antonio.Eggermont@post.harvard.edu </a><br><br>
                                1390 Market Street<br>
                                San Francisco, CA 94102
                                </address>

                        </div><!--/span-->

                        <div class="span7">
                            <iframe width="400" height="300" style="border: 1px #ccc solid; padding: 5px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1169+Market+Street,+San+Francisco,+CA&amp;sll=37.0625,-95.677068&amp;sspn=45.553578,55.107422&amp;ie=UTF8&amp;hq=&amp;hnear=1169+Market+St,+San+Francisco,+California+94103&amp;t=h&amp;ll=37.778415,-122.413487&amp;spn=0.005936,0.011802&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1169+Market+Street,+San+Francisco,+CA&amp;sll=37.0625,-95.677068&amp;sspn=45.553578,55.107422&amp;ie=UTF8&amp;hq=&amp;hnear=1169+Market+St,+San+Francisco,+California+94103&amp;t=h&amp;ll=37.778415,-122.413487&amp;spn=0.005936,0.011802&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left"></a></small>
                        </div><!--/span-->
                </div><!--/row-->



            <div class="container-fluid">

                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span5">
                        <span class="badge badge-info">CONNECT</span>
                    </div>
                </div>
                <br>
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span1">
                        <a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @twitter</a>
                    </div>
                    <div class="span1">
                        <a href="http://www.linkedin.com/profile/view?id=26540686&trk=hb_tab_pro_top"><img src="/static/images/linkedin.png" width="20" height="20" alt="linkedin" />Linkedin</a>
                    </div>
                        <div class="fb-like" data-href="http://antonioeggermont.net" data-send="true" data-width="450" data-show-faces="false" data-font="arial"></div>
                    </div>
                </div>
                <br>
                <hr>
                <div class="row-fluid">

                    <div class="span4"> </div>
                    <div class="span8">

                        <footer>
                            <p>© Antonio A Eggermont, all rights reserved</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>


