
<!DOCTYPE html>

<html lang="en">
    <head>
        <title> {{ head_title }} </title>
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <link href="/static/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/static/styles/homepage.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="apple-touch-icon" href="custom_icon.png">



    </head>

    <body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/styles/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/styles/bootstrap/js/bootstrapfixes.js"></script>

        <!-- NAVBAR ================================================== -->
        <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
        <div class="container navbar-wrapper">

            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">{{ page_name }}</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li ><a href="/biography/">Biography</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Work <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/projects?project=cbsinteractive">CBS Interactive</a></li>
                                    <li><a href="/projects?project=disney">Walt Disney Pictures</a></li>
                                    <li><a href="/projects?project=harvard">Harvard University</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Projects</li>
                                    <li><a href="/projects?project=garick">Virtual Cinematography</a></li>
                                </ul>
                            </li>
                            <li><a href="/resume/">Resume</a></li>
                            <li class="active"><a href="/references/">References</a></li>
                            <li ><a href="/contact/">Contact</a></li>
                            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->

        <br>

        <div id="biography" class="container-fluid">
            <div class="row-fluid">
                <div class="span10">
                    <div >
                        <h3> References </h3>

                    </div>
                    <div class="row-fluid">
                        <div class="span3">



                        </div><!--/span-->

                        <div class="span6">
                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=360856&authType=name&authToken=5z4t&goback=.con"><img alt="LinkedIn" src="/static/images/linkedin.png" />Dr. Henry H Leitner </a> <br />
                                <em class="ref">Associate Dean for Information Technology and Chief Technology Officer <br />
                                    Harvard University</em><br />
                            </li><br />

                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=1685395&locale=en_US&trk=tyah2"><img alt="LinkedIn" src="/static/images/linkedin.png" /> Debbie Gathard </a><br />
                                <em class="ref">Product Manager <br />
                                    CBS Interactive</em><br />
                            </li><br />

                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=10697609&locale=en_US&trk=tyah"><img alt="LinkedIn" src="/static/images/linkedin.png" /> Ken Evers  </a> <br />
                                <em class="ref">Senior Software Engineer <br />
                                    CBS Interactive</em><br />
                            </li><br />

                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=8277316&locale=en_US&trk=tyah2"><img alt="LinkedIn" src="/static/images/linkedin.png" /> Peter Aragulo  </a><br />
                                <em class="ref">Software Engineer / Technology Manager <br />
                                    CBS Interactive</em><br />
                            </li><br />


                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=4328413&authType=name&authToken=ozi9&goback=.con"><img alt="LinkedIn" src="/static/images/linkedin.png" />Joe C. D'Amato  </a><br />
                                <em class="ref">Project Manager for Production Technology/DisneyToons <br />
                                    Walt Disney Animation Studios</em><br />
                            </li><br />


                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=176541&authType=OPENLINK&authToken=XwPk&locale=en_US&srchid=1e22e1c8-3855-4240-bdef-e9e2202cf3b8-0&srchindex=1&srchtotal=30&goback=.fps_PBCK_Joe+Marks+Disney_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_name_link"><img alt="LinkedIn" src="/static/images/linkedin.png" />Joe Marks </a><br />
                                <em class="ref">Vice President of Software/Research and Development <br />
                                    Walt Disney Animation Studios </em><br /></li>
                            <br />


                            <li class="reference"><a href="http://www.linkedin.com/profile/view?id=36628445&authType=name&authToken=qATA&goback=.con"><img alt="LinkedIn" src="/static/images/linkedin.png" />James Peregrino </a><br />
                                <em class="ref"> Manager of  Academic Computing <br />
                                    Harvard University &bull; Division of Continuing Education </em><br />
                                <br />
                            </li>
                            <li class="reference"><a href="">Jan Roberts Breslin </a><br />
                                <em class="ref"> Graduate Program Director <br />
                                    Emerson College &bull; Department of Visual And Media Arts </em><br />
                            </li>



                        </div><!--/span-->

                    </div><!--/row-->
                    <br>
                    <div class="row-fluid">
                        <div class="span12">

                            <p>* Detailed references and contact information is available upon request. </p>

                        </div><!--/span-->

                    </div><!--/row-->

                </div><!--/span-->
            </div><!--/row-->

            <div class="container">
                    <hr>
                    <footer>
                        <p class="pull-right"><a href="#">Back to top</a></p>
                        <p>&copy; 2012 Antonio Aranda Eggermont, All rights reserved. &middot; <a href="#">Privacy</a> <a href="#">Terms</a></p>
                    </footer>

            </div>
    </body>
</html>


