
{%  extends "projects/projects-base.html" %}

{% block site_wrapper %}


    <div id="screenblocks" class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div >

                </div>
                <div class="row-fluid">
                    <div class="span3">

                        <a href="http://thewaltdisneycompany.com/" target="_blank"><img src="/static/images/Walt-Disney-Company-Logo1.jpg"  width="200" height="200" /> </a>

                    </div><!--/span-->

                    <div class="span9">
                        <h4> My Work @ Disney</h4>
                        <p>
                            ImageMovers Digital is a division of the Walt Disney Studios run by Director Robert Zemeckis which
                            specializes in the production of animated films employing motion capture and digital film technology in stereoscopic format ( also knows as 3D).
                            <br><br>
                            From a software development perspective, my work in the studio focused on the architecting of frameworks to define and optimize media production workflows. Specifically,
                            I developed applications tools, automated large systems enclosures for the rendering of photorealistic image plates, image block segmentation, image reconstructions and image sequences,
                            and implemented new features in applications employing their SDKs.  Additionally, I developed  dynamic Web apps and interfaces for the monitoring and debugging of production processes.
                            <br><br>
                            During my time at Disney, I was involved in the production of two feature films: A Christmas Carol and Mars Needs Moms.
                        </p>

                    </div><!--/span-->

                </div><!--/row-->
                <br>
                <div class="row-fluid">
                    <div class="span3">
                        <p>  </p>
                    </div><!--/span-->
                    <div class="span4">
                        <p> Mars Needs moms </p>
                        <a href="http://disney.go.com/disneypictures/marsneedsmoms/" title="Mars Needs Moms" target="_blank"><img src="/static/images/mars-needs-moms.jpg" width="92" height="142" /></a>
                    </div><!--/span-->
                    <div class="span4">
                        <p> A Christmas Carol </p>
                        <a href="http://disney.go.com/disneypictures/achristmascarol/index.html" title="A Christmas Carol" target="_blank"><img src="/static/images/AChristmasCarol.jpg" width="92" height="142" /></a>
                    </div><!--/span-->

                </div><!--/row-->

            </div><!--/span-->
        </div><!--/row-->
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container">
            <hr>
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2012 Antonio Aranda Eggermont, All rights reserved.</p>
            </footer>

    </div>

{% endblock %}