
{%  extends "projects/projects-base.html" %}

{% block site_wrapper %}

    <div id="biography" class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div >

                </div>
                <div class="row-fluid">
                    <div class="span3">

                        <a href="http://www.extension.harvard.edu/distance-education" target="_blank"><img src="/static/images/Harvard.png" width="120" height="120"   /></a>

                    </div><!--/span-->

                    <div class="span9">
                        <h4> Distance Learning @ Harvard</h4>
                        <p>
                            During my time at Harvard I was given the opportunity to develop and implement a prototypical model and Web base
                            framework for the production and publishing of online media content for online educational programs.
                            This implementation represented an initiative to standardize media work flows and a systems architecture that
                            would allow Harvard University Division of Continuing Education promote and continue further development
                            in distance education technologies over the Internet as well as its expansion.
                            <br><br>
                            Specifically I developed a content management system for the dynamic generation of Web content,
                            compression and transcoding of video streams, designed front-end Web interfaces with embedded streaming video
                            and audio controls, synchronization of  multimedia component,  and automation of processes for content publishing.

                        </p>

                    </div><!--/span-->

                </div><!--/row-->
                <br>
                <div class="row-fluid">
                    <div class="span4">

                       <img src="/static/images/harvard_img1_sm.jpg" width="184" height="284" />

                        <a href="#myModal" role="button" class="btn" data-toggle="modal">Workflow Functional Overview</a>


                        <!-- Modal -->
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">>Media Workflow Functional Overview</h3>
                            </div>
                            <div class="modal-body">
                                <img src="/static/images/DE_system_functional_overview.jpg" width="900" height="400" />
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>



                    </div><!--/span-->
                    <div class="span4">
                        <img src="/static/images/harvard_img3_sm.jpg" width="184" height="284" />
                        <a href="#myModal2" role="button" class="btn" data-toggle="modal">System Components Integration</a>
                        <!-- Modal -->
                        <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel2"> System Components Integration</h3>
                            </div>
                            <div class="modal-body">
                                <img src="/static/images/DE_workflow_mywork_SM.jpg" width="900" height="400" />
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div><!--/span-->

                    <div class="span4">
                        <img src="/static/images/harvard_img4_sm.jpg" width="184" height="284" />
                        <a href="#myModal3" role="button" class="btn" data-toggle="modal">System Components Integration</a>
                        <!-- Modal -->
                        <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel3"> System Components Integration</h3>
                            </div>
                            <div class="modal-body">
                                <img src="/static/images/DE_prod_syshardware_int.jpg" width="900" height="400" />
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>

                    </div><!--/span-->

                </div><!--/row-->

            </div><!--/span-->
        </div><!--/row-->

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container">
        <hr>
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2012 Antonio Aranda Eggermont, All rights reserved.</p>
        </footer>


{% endblock %}