<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
     <form action="/viderob/" method="post"> {% csrf_token %}
       <h2> Video Robot </h2>
       {{ formc.as_ul }}
       <h2> General Information </h2>
       {{ formb.as_ul }}
       {{ forma.as_ul }}

      <input type="submit" value="Submit" />
     </form>
    </body>
</html>


